section.main-menu__container
  div.main-menu__logo-container
    img.logo-image(src=logo.link, alt=logo.img)
  div.main-menu__hamburger
    div.main-menu__hamburger-first
    div.main-menu__hamburger-middle
    div.main-menu_hamburger-last
  ul.main-menu__list
    each element in links
      if Object.keys(element).include('href')
        div
          li.main-menu__list-item
            a(href = element.href) #{element.label}
      else
        div.main-menu__list-container
          li.main-menu__list-item #{element.label}
            ul.main-menu__list__link
              each subelement in element.links
                li.main-menu__list__link-item
                  a(href = subelement.href) #{subelement.label}

        
