div.main-menu__nav-bar
  button.main-menu__hamburger
    div.main-menu__hamburger-line.main-menu__hamburger-line-first
    div.main-menu__hamburger-line.main-menu__hamburger-line-middle
    div.main-menu__hamburger-line.main-menu__hamburger-line-last
  div.main-menu__logo-container
    img.main-menu__logo-image(src=logo.link, alt=logo.img)
ul.main-menu__list
    each element in links
      if Object.keys(element).includes('href')
        li.main-menu__list-item
          a(href = element.href) #{element.label} 
      else
        li.main-menu__list-item 
          button.main-menu__list-item-button #{element.label}
          ul.main-menu__list__link
            each subelement in element.links
              li.main-menu__list__item-link
                a(href = subelement.href) #{subelement.label}  
        
  

          
